.post-content {
    margin: 10px;
    padding: 10px;
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    border: 2px solid black;
    border-radius: 10px;
}

.post-title {
    text-align: center;
}

.post-description {

}