.post-content {
    margin: 10px;
    padding: 0 0 20px 20px;
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: black;
    color: white;
    border-radius: 0 0 50px 0;
}

.post-title {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    background-color: lightslategray;
    padding: 10px;
    margin: 0 0 0 50px;
    border-radius: 0 0 0 50px;
    color: black;
}

.post-description {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-right: 10px;    
    text-align: left;
    font-size: 0.8em;
}