.tidy {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.inline {
    flex-direction: column;
    text-align: center;
}

.img-thumbnail {
    margin: 20px;
}

#displayGallery {
    display: flex;
    justify-content: space-between;
}

#displayGallery button {
    margin-left: 20px;
    margin-right: 20px;
}

#formAddPicture {
    position: relative;
    min-width: 650px;
    padding: 10px;
    background-color: white;
    color: black;
    text-align: left;
    margin-right: 10px;
    z-index: 1;
}

.delete-img {
    position: absolute;
}