#result {
    background-color: white;
    padding: 20px;
    text-align: center;
}

#playerChoice {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#playerChoice img {
    margin: 20px;
}

#computerChoice {
    text-align: center;
}

#computerChoice h2 {
    background-color: white;
}