body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    background-color: black;
    color: white;
}

footer {
    text-align: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    padding: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
    color: gray;
}

h1 {

}

h2 {
    text-align: center;
    font-size: 3em;
}

h3 {
    
}

#logo-site {
    border-radius: 50px;
}

#main-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}