body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url('../img/jpg/paysage.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    background-color: black;
    color: white;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}

.nav-collapse {
    position: absolute;
    border: 2px solid black;
    min-width: 150px;
    background-color: white;
    z-index: 1;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
    padding: 10px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 1s;
    transition: font-size 1s;
}

nav ul li a:hover {
    color: gray;
    font-size: 1.4em;
}

.nav-collapse ul li a {
    color: black;
}

.nav-collapse ul li a:hover {
    color: gray;
}

h1 {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

h2 {
    text-align: center;
    font-size: 3em;
}

h3 {
    
}

#logo-site {
    border-radius: 50px;
}

#main-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}