body {

}

h1 {

}

h2 {

}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h4 {

}

h5 {

}

h6 {
    
}

span {

}

p {

}

blockquote {

}

em {

}

b {

}

a {

}

a:hover {

}

ul {

}

li {

}

img {

}

#main-content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}